/* nosotros.component.css */
.cover-image-container {
    text-align: center;
  }
  
  .cover-image {
    width: 100%;
    max-height: 300px; /* Ajusta según sea necesario */
    object-fit: cover;
  }
  
  .mission-vision-cards {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .mission-card,
  .vision-card {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .mission-card h2,
  .vision-card h2 {
    color: #333;
  }
  